.example-card {
  margin-top: 40px;
  max-width: 250px;
  max-height: 350px;
}

.example-header-image {
  background-size: cover;
}
.width50 {
  width: 20%;
}
.aParent div {
  align-items: center;
  float: left;
  display: flex;
  justify-content: center;


}
