.example-header-image {
  background-size: cover;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.dashboard-items{
  margin-top: 30px;
  padding-left :30px;
  height: 100%;
  width: 300px;
}
