<div class="aParent">

  <div class="width50">
    <mat-card class="example-card">
      <mat-card-header>
        <div class="example-header-image" mat-card-avatar><img mat-card-image
                                                               src="assets/img/membres.png"></div>
        <mat-card-title>Membres</mat-card-title>
        <mat-card-subtitle>Nombre des membres</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2>
          {{membersCount}}
        </h2>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/members">Consulter la liste des membres</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="width50">
    <mat-card class="example-card">
      <mat-card-header>
        <div class="example-header-image" mat-card-avatar><img mat-card-image
                                                               src="assets/img/membres.png"></div>
        <mat-card-title>Publications</mat-card-title>
        <mat-card-subtitle>Nombre des publications</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2>X</h2>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/publications">Consulter la liste des publications</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="width50">
    <mat-card class="example-card">
      <mat-card-header>
        <div class="example-header-image" mat-card-avatar><img alt="Photo of a Shiba Inu" mat-card-image
                                                               src="assets/img/membres.png"></div>
        <mat-card-title>Evènements</mat-card-title>
        <mat-card-subtitle>Nombre des évènements</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2>{{eventsCount}}</h2>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/eventsList">Consulter la liste des évènements</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="width50">
    <mat-card class="example-card">
      <mat-card-header>
        <div class="example-header-image" mat-card-avatar><img alt="Photo of a Shiba Inu" mat-card-image
                                                               src="assets/img/membres.png"></div>
        <mat-card-title>Outils</mat-card-title>
        <mat-card-subtitle>Nombre des outils</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2>X</h2>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/outils">Consulter la liste des outils</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
