.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.item{
  width: 300px;
  height: auto;
}

.form-custom{
}
.form-bordered{
  border: 1px solid black;
  box-shadow:  5px 8px 7px #343232;
}

.example-card {
  max-width: 400px;
  margin: 30px;

}
