<form (ngSubmit)="ONSUB()" [formGroup]="form">
  <h1>Ajouter un enseignant chercheur</h1>
  <p>
    <mat-form-field appearance="legacy">
      <input formControlName="cin" matInput placeholder="Carte d'identité nationale">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <input formControlName="nom" matInput placeholder="Nom">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <input formControlName="prenom" matInput placeholder="Prénom">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <input formControlName="email" matInput placeholder="Email">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <input formControlName="grade" matInput placeholder="Grade">
    </mat-form-field>
  </p>
  <p>
  <p>
    <mat-form-field appearance="legacy">
      <input formControlName="etablissement" matInput placeholder="Etablissement">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Date de naissance</mat-label>
      <input formControlName="dateNaissance" matInput placeholder="Date du naissance" type="date">

    </mat-form-field>
  </p>
  <button color="primary" mat-button type="submit">submit</button>
</form>
