<div class="card">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Ajouter un membre</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>Veuillez utiliser le formulaire ci-dessous pour ajouter un membre.</mat-card-subtitle>
      <p></p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" mat-raised-button routerLink="/createEtudiant">Etudiant</button>
      <button color="warn" mat-raised-button routerLink="/createEnseignant">Enseignant Chercheur</button>
    </mat-card-actions>

  </mat-card>

</div>
