<div class="container" xmlns="http://www.w3.org/1999/html">
  <form  (ngSubmit)="addEvent()" [formGroup]="form">
  <mat-card class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="selected"></mat-calendar>
  </mat-card>
    <p>
      <mat-form-field appearance="legacy">
        <input formControlName="lieuEvent" matInput placeholder="Lieu">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <input formControlName="titreEvent" matInput placeholder="Titre">
      </mat-form-field>
    </p>
    <button color="primary" mat-button type="submit">Ajouter un évenement</button>
  </form>
</div>
