<div class="example-container">
  <form
    #f="ngForm"
    (ngSubmit)="onSubmit()"

    name="form"
    novalidate
  >
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input class="example-right-align" matInput type="text"
           #email="ngModel"
           [(ngModel)]="form.email"
           name="email">

  </mat-form-field>

  <mat-form-field appearance="fill">

    <mat-label>Enter your password</mat-label>
    <input [type]="hide ? 'password' : 'text'" matInput #password="ngModel"
           [(ngModel)]="form.password"
    name="password">
    <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
            matSuffix>
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <button color="primary" mat-button>
    Login
  </button>
  </form>
</div>
