<div class="center">
  <form (ngSubmit)="addEtudiant()" [formGroup]="form">
    <h1>Ajouter un éudiant</h1>
    <p>
      <mat-form-field appearance="legacy">
        <input formControlName="cin" matInput placeholder="Carte d'identité nationale">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <input formControlName="nom" matInput placeholder="Nom">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <input formControlName="prenom" matInput placeholder="Prénom">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Date de naissance</mat-label>
        <input [matDatepicker]="picker" formControlName="dateNaissance" matInput placeholder="Date du naissance">
        <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>
    <button color="primary" mat-button type="submit">Ajouter un étudiant</button>
  </form>
</div>
