<div class="container">


<div class="center">
  <form (ngSubmit)="addEtudiant()" [formGroup]="form" class="form-bordered">
    <br>
    <h1 *ngIf="add" class="center-text">Ajouter un éudiant</h1>
    <h1 *ngIf="!add" class="center-text">Editer un éudiant</h1>

      <mat-form-field appearance="legacy" class="form-custom">
        <input formControlName="cin" matInput placeholder="Carte d'identité nationale">
      </mat-form-field>


      <mat-form-field appearance="legacy" class="form-custom">
        <input formControlName="nom" matInput placeholder="Nom">
      </mat-form-field>


      <mat-form-field appearance="legacy" class="form-custom">
        <input formControlName="prenom" matInput placeholder="Prénom">
      </mat-form-field>

      <mat-form-field appearance="legacy" class="form-custom">
        <input formControlName="email" matInput placeholder="Email">
      </mat-form-field>
    <br>
      <mat-form-field appearance="legacy" class="form-custom">
        <input formControlName="diplome" matInput placeholder="Diplome">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-custom">
        <mat-label>Date de naissance</mat-label>
        <input formControlName="dateNaissance" matInput placeholder="Date du naissance" type="date">

      </mat-form-field>


      <mat-form-field appearance="outline" class="form-custom">
        <mat-label>Date d'inscription</mat-label>
        <input formControlName="dateInscription" matInput placeholder="Date d'inscription" type="date">

      </mat-form-field>
    <br>
      <button *ngIf="add" class="submit-btn" mat-raised-button  color="primary" mat-button type="submit">Ajouter un étudiant</button>
      <button *ngIf="!add"  class="submit-btn" mat-raised-button color="primary" color="primary" mat-button type="submit">Modifier un étudiant</button>

  </form>
</div>
</div>
